.test2, .test, .test3 {
  width: 110px;
  height: 110px;
  display: block;
  position: fixed;
  top: 10px;
  background: url(images/animal-small.jpg) no-repeat; }

.test3 {
  background: url(images/animal-small3.jpg) no-repeat; }

.test {
  background: url(images/animal-small2.jpg) no-repeat; }

input {
  visibility: hidden; }
  input:checked + label {
    padding: 10%;
    position: fixed;
    top: 150px;
    left: 150px;
    display: block;
    background-size: 400px , 400px;
    border: 1px solid black; }

li {
  display: inline-block;
  list-style: none;
  width: 110px;
  height: 110px; }
  li :hover {
    cursor: pointer;
    background-size: 110px 110px; }

