.main{
    width: 800px;
}
div{
    border: 1px solid red;
    background: black;
    width: 90%;
    
    border-radius: 100px;
}
.none{
        overflow-x: auto;
        width: 105px;
        height: 0px
}


